---
layout: layout/main-layout.njk
title: Hello World
---

<h1 class="text-3xl font-bold text-center mt-5 mb-2">Hello World!!</h1>

<p class="text-xl text-center">Exploring Eleventy. Eleventy is a static site generator. </p>

<div class="flex items-center justify-center ">
<button class="rounded-md px-8 py-3 my-5 bg-amber-200 text-white">Let's go</button>
</div>

